name: AccuKnox SAST Scan Workflow

on:
  push:
    branches:
      - master

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@main

      - name: Accuknox SAST
        uses: accuknox/sast-scan-opengrep-action@1.0.0
        with:
          accuknox_token: ${{ secrets.ACCUKNOX_TOKEN }}
          accuknox_endpoint: ${{ secrets.ACCUKNOX_ENDPOINT }}
          accuknox_tenant: ${{ secrets.ACCUKNOX_TENANT_ID }}
          accuknox_label: ${{ secrets.ACCUKNOX_LABEL }}
          input_soft_fail: false
